[Desktop Entry]
Type=Application
Icon=harbour-fiatglossa
Name=fiat glossa
Exec=/usr/bin/sailjail -p harbour-fiatglossa.desktop /usr/bin/harbour-fiatglossa

[X-Sailjail]
Permissions=Internet
OrganizationName=se.munkstolen
ApplicationName=harbour-fiatglossa